<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>

<body>
    <h1>Auth page Jinja templating</h1>
    <h2>{{user.role}}</h2>
    <h3><a href="/">Main</a></h3>
</body>

</html>