<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{status_code}}</title>
</head>

<body>
    <h1>Error: {{status_code}}</h1>
    <h1>{{message}}</h1>
    <h3><a href="/">Main</a></h3>
</body>

</html>