<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<body>
    <h1>Main page Jinja templating</h1>
    <h3>Server time: {{date}}</h3>
    <h3>
        <a href="/docs">Swagger docs</a>
    </h3>
</body>

</html>