<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private</title>
</head>

<body>
    <h1>Private page</h1>
    <button id="exit" onclick="logout()">Exit</button>
    <div>
        <a href="/">Main</a>
    </div>
    <script>
        const exit = document.getElementById("exit")

        async function logout() {
            const res = await fetch("/auth/logout");
            window.location.href = "/login"
        }
    </script>
</body>

</html>