<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div>
        <input type="text" name="" id="name" placeholder="name">
        <input type="text" name="" id="surname" placeholder="surname">
        <input type="email" name="" id="email" placeholder="email">
        <input type="password" name="" id="password" placeholder="password">
        <button onclick="register()">Register</button>
    </div>
    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <a href="/">Main</a>
    </div>
    <script>
        const name = document.getElementById("name");
        const surname = document.getElementById("surname");
        const email = document.getElementById("email");
        const password = document.getElementById("password");

        async function register() {
            const data = {
                "name": name.value,
                "surname": surname.value,
                "email": email.value,
                "password": password.value,
            };

            const res = await fetch("/auth/register", {
                headers: {
                    "content-type": "application/json",
                },
                body: JSON.stringify(data),
                method: "POST",
            });

            if (!res.ok) {
                const error = await res.json();
                alert(error.detail);
                return;
            }

            window.location.href = "/login"
        }
    </script>
</body>

</html>